<article class="feed {{post_class}}">
    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
    </div>
    {{#if feature_image}}
        <div class="feed-image u-placeholder horizontal">
            <img class="lazyload u-object-fit"
                data-srcset="{{> srcset}}" data-sizes="auto"
                src="{{img_url feature_image size="m"}}"
                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                alt="{{title}}">
        </div>
    {{/if}}
    <h2 class="feed-title">{{title}}</h2>
    <div class="feed-right">
        {{#if @labs.members}}
            {{#has visibility="paid"}}
                <svg class="icon feed-visibility feed-visibility-{{visibility}}">
                    <use xlink:href="#lock"></use>
                </svg>
            {{/has}}
        {{/if}}
        <div class="feed-length">
            {{reading_time}}
        </div>
    </div>
    <svg class="icon feed-icon">
        <use xlink:href="#chevron-right"></use>
    </svg>
    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>
</article>
